body {
    background-color: #ff7fff;
}

#all {
    margin-left: 5px;
}

.out {
    display: flex;
}

.in {
    height: 100px;
    width: 190px;
    background-color: #eaeaed;
    overflow: hidden;
    margin-right: 10px;
}

.in p {

    margin: 0;
}

#scroll {
    margin: 10px 0;
    font-weight: 900;
    overflow: auto;
    height: 60px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#scroll p {
    margin-top: 3px;
}