body {
    margin: 0.75em;
}

#grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0.75em;
}



#black {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 2.5em 0;
}

#orange {
    background-color: orange;
    padding: 9.4em 0;
}

#green {
    background-color: green;
    padding: 9.4em 0;
}

#blue {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 4.6em 0;
}